# File /etc/systemd/system/zookeeper.service
#
# Start/status/stop
#   sudo systemctl start zookeeper.service
#   sudo systemctl status zookeeper.service
#   sudo systemctl stop zookeeper.service
#
# Start when computer boots:
#   sudo systemctl enable zookeeper.service

[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
#User=DESIRED_USER
#Group=DESIRED_GROUP
Environment=JAVA_HOME=${JAVA_HOME}
ExecStart=${KAFKA_TOP}/bin/zookeeper-server-start.sh ${NALMS_TOP}/config/${NALMS_ENV}zookeeper.properties
ExecStop=${KAFKA_TOP}/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target